.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .login-card {
    width: 500px;
    height: 809px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }